mss>=9.0
numpy
opencv-python-headless
winrt-runtime>=3.2,<4; sys_platform == "win32"
winrt-Windows.Foundation>=3.2,<4; sys_platform == "win32"
winrt-Windows.Foundation.Collections>=3.2,<4; sys_platform == "win32"
winrt-Windows.Globalization>=3.2,<4; sys_platform == "win32"
winrt-Windows.Graphics.Imaging>=3.2,<4; sys_platform == "win32"
winrt-Windows.Media.Ocr>=3.2,<4; sys_platform == "win32"
winrt-Windows.Storage.Streams>=3.2,<4; sys_platform == "win32"
